@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: "400";
    font-style: normal;
}