@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    min-width: 300px;
    max-width: 350px;
    margin: 60px auto;
    overflow-y: hidden;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 0 0 0 8px rgba(61, 96, 152, 0.523);
    padding-bottom: 2.5rem;
}

.card-header {
    position: relative;
    display: flex;
    height: 190px;
    flex-shrink: 0;
    width: 100%;
}

.card-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
    position: absolute;
    bottom: 16px;
    font-size: 1.37rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
    color: #3d6098;
}
.card-roletitle {
    position: absolute;
    bottom: 0;
    color: #3d6098;
    font-size: 0.75rem;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

.card-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
.card-social svg {
    fill: #3d6098;
    width: 16px;
    transition: 0.3s;
}
.card-social a {
    color: #8797a1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(93, 133, 193, 0.05);
    margin-right: 10px;
}

.card-social a:hover svg {
    fill: #637faa;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
    }
}

.card-contacts {
    padding: 5px 25px 0 25px;
}

.card-contact {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 0.87rem;
    color: #3d6098;
    font-family: "DM Sans", sans-serif;
    line-height: 1.2;
    margin-top: 10px;
}
.card-contact svg {
    flex-shrink: 0;
    width: 30px;
    min-height: 30px;
    margin-right: 12px;
    transition: 0.3s;
    padding-right: 12px;
    border-right: 1px solid #4b77bc;
}

.card-edit-button {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #3d6098;
}

.edit-card {
    position: absolute;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 25px;
    width: 80px;
    background-color: #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
    transition: all 0.2s ease-in-out;
    border: none;
    max-height: 150px;
    z-index: 1000;
}

.edit-card button {
    width: 100%;
    padding: 6px 20px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #3d6098;
    border: none;
    transition: all 0.2s ease-in-out;
}

/* styles for the editable view */

.card-edit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-inline: 1rem;
}

.card-edit-form input {
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.card-edit-form button {
    padding: 0.5rem 1rem;
    background-color: #3d6098;
    color: #e7e7e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-end;
}

.card-edit-form button:hover {
    background-color: #213159;
}

.card-edit-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

.photo-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.photo-input label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3d6098;
    color: #e7e7e7;
    border-radius: 4px;
    cursor: pointer;
}

.photo-input label span {
    pointer-events: none;
}

.photo-input input[type="file"] {
    display: none;
}
